#ignore sensitive files
sensitive.txt

#ignore sensitive keys
id_rsa
id_rsa.pub
SSH
gh
gh.pub
codavatar
codavatar.pub
codavatarkey
codavatarkey.pub
codavatarkey.pub.pubweek6/kubernetes/minikube-linux-amd64
